<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <meta charset=utf-8 />
  <title>Bookmark</title>
  <script src="js/main.js"></script>
</head>
<body>
  <form>
    Bookmark Name: <input type="text" ng-model="bookmark.name" /><br />
    Bookmark Url: <input type="text" ng-model="bookmark.url" /><br />
    Bookmark Category: <input type="text" ng-model="bookmark.category" /><br />
    <br />
    <br />
    <br />
    <div ng-repeat="bookmark in bookmarks">
      <label>{{bookmark.name}}</label>
      <p>{{bookmark.url}}</p>
    </div>
    <button ng-click="save()">Save</button>
    <p>{{msg}}</p>
  </form>
</body>
</html>
