<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/typeahead.min.js"></script>
  <link rel="stylesheet" href="css/main.css">

  <meta charset=utf-8 />
  <title>Bookmark</title>
  <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
  <!--
  <form>
    <div ng-repeat="bookmark in bookmarks">
      <label>{{bookmark.name}}</label>
      <p>{{bookmark.url}}</p>
    </div>
    <button ng-click="save()">Save</button>
    <p>{{msg}}</p>
  </form>
-->
<div class="searchBox">
  <label>Search by keyword:</label><br/>
  <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="bookmark">

<button id="search">search</button>
</div>
</body>
</html>
